
#main{
    &_block{
        width: 90%;
        margin: 0 auto;
        margin-top: 15rem;
        text-align: center;

        & #title_limit_block{
            margin-bottom: 2rem;

            & #main_title{
                width: 100%;
                font-size: 4rem
            }
            & #main_limit{
                text-align: right;
            }
        }
        & #main_memo{
            text-align: left;
            width: 90%;
            padding: 1rem;
            margin: 2rem auto;
            white-space: pre-wrap;
            border: dashed 1px black;
        }
        & #main_btn_block{
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            width: 100%;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%, -50%);

            & .btn{
                width: 10rem;
            }

            & #delete_btn{
                background-color: red;
            }
            & #list_btn{
                background-color: black;
            }
        }
    
    }
}
@media (min-width:640px){
    #main{
        &_block{
            & #title_limit_block{
                margin-bottom: 10rem;
                & #main_title{
                    font-size: 8rem
                }
                & #main_limit{
                    // font-size: 2.6rem;
                }
            }
            & #main_btn_block{
                width: 60%;

                & .btn{
                    width: 12rem;
                }
            }
        }
    }
}

@media (min-width:1024px){
    #main_block{
        width: 80%;

        & #main_btn_block{
            & .btn{
                width: 15rem;
            }
        }
    }
}