
#create_btn{
    margin: 2rem 0 2rem 1rem;
    background-color: black;
}

.task {
    padding: 1rem;
    border-top: 1px solid #b19f9f;

    &_title{
        color: black;
        font-size: 2.4rem;
        font-weight: bold;
    }
    &_limit{
        opacity: 0.6;
    }
}

.page_navigation {
    & ul{
        display: flex;
        justify-content: center;
        font-size: 2rem;

        & li {
        padding-right: 8px;
        }
    }
}
.active a{
    color: black;
    cursor: default;
}
#empty_content{
    text-align: center;
}

@media (min-width:640px){
    .task_title{
        font-size: 4rem;
    }
}

@media (min-width:1024px){
    .task_limit{
        font-size: 2rem;
    }
    #empty_content{
        font-size: 8rem;
    }
}