{% extends 'base.html' %}

{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/taskapp/task_form.css' %}">
{% endblock %}

{% block container %}
<form action="#" method="POST">{% csrf_token %}
    <table class="table">
        {{ form }}
    </table>
    <div class="btn_block">
        <a id="back_btn" class="btn" href="{% url 'list' %}">戻る</a>
        <button id="update_btn" class="btn" type="submit">更新</button>
    </div>
</form>
{% endblock  %}