{% extends '_base.html' %}

{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/taskapp/task_form.css' %}">
{% endblock %}

{% comment %} {% block title %}タスク作成{% endblock  %} {% endcomment %}

{% block container %}
<form action="#" method="POST">{% csrf_token %}
    <div id="form_block">
        {{ form }}
    </div>
    <div class="btn_block">
        <a id="back_btn" class="btn" href="{{ request.META.HTTP_REFERER }}">戻る</a>
        <button id="create_btn" class="btn" type="submit">作成</button>
    </div>
</form>
{% endblock %}