{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/task_list.css' %}">
{% endblock %}

{% block title %}タスクリスト{% endblock  %}

{% block body %}

    <a href="{% url 'create' %}"><button>new</button></a>

    {% for task in tasks %}
        <div class="task">
        <a href="{% url 'detail' task.pk %}">{{ task.content }}</a></br>
            <p>{{ task.posted_date }}</p>
        </div>
    {% endfor %}

    <nav class="page_navigation">
        <ul style="display: flex;">

            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="previous"><button>&laquo;</button></a>
                </li>
            {% endif %}

            {% for page in paginator.page_range %}
                <li{% if page == page_obj.number %} class="active" {% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="next"><button>&raquo;</button></a>
                </li>
            {% endif %}
        </ul>
    </nav>


{% endblock %}