{% extends '_base.html' %}

{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/taskapp/task_confirm_delete.css' %}">
{% endblock  %}

{% block container %}
    <h3 id="confirm_delete">本当に削除しますか？</h3>
    <form method="post">{% csrf_token %}
        {{ form }}
        <div id="btn_block">
            <a id="back_btn" class="btn" href="{{ request.META.HTTP_REFERER }}">いいえ</a>
            <button id="submit_btn" class="btn" type="submit">はい</button>
        </div>
    </form>
{% endblock  %}