* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  line-height: 1.75;
  overflow-wrap: break-word;
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.4rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  display: inline-block;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  font-size: 1.4rem;
  border-radius: 5%;
  border-style: none;
  cursor: pointer;
}

#content {
  width: 90%;
  margin: 0 auto;
  margin-top: 6rem;
}

#messages {
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center;
}

#messages .success {
  background-color: #F1FFF7;
  border: 1px solid #DEF6EA;
  border-radius: 5%;
}

#messages .error {
  background-color: #F8D7DA;
  border: 1px solid #F5C6CB;
}

@media (min-width: 600px) {
  h2 {
    font-size: 8rem;
  }
  h3 {
    font-size: 5rem;
  }
  p {
    font-size: 1.9rem;
  }
  .btn {
    font-size: 1.5rem;
  }
  #messages {
    font-size: 1.9rem;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 2.5rem;
  }
  .btn {
    font-size: 2rem;
  }
  #messages {
    font-size: 2.5rem;
  }
}
