header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 5% 15px;
  border-bottom: 1px solid #4d4444;
  background-color: black;
}

header #main-title {
  color: white;
}

header #login-btn {
  margin-right: 20px;
  background-color: #f11f1f;
}
