* {
    margin: 0;
    font-family: "Zapfino", "Segoe Script", "Arial", "ＭＳ 明朝", "MS Mincho", "ヒラギノ角ゴシック", "Hiragino Sans", "Zapfino", sans-serif;
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    color: black;
    display: inline-block;
    text-decoration: none;
}


.content {
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    font-size: 5rem;
}

header {
    position: relative;
    height: 12rem;
    background-image: url(../img/bush.png);
}

header .title {
    position: absolute;
    top: 15%;
    left: 8%;
    font-size: 5rem;
}

.btn {
    display: inline-block;
    color: black;
    font-size: 1.5rem;
    padding: 1% 2%;
    border-radius: 5%;
    cursor: pointer;
}

header .btn{
    position: absolute;
    top: 15%;
    right: 10%;
    background-color: blue;
}