#content{
    text-align: center;

    & form{
        margin-top: 20rem;

        & label{
            display: block;
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
            font-weight: bold;
        }
        & #id{
            &_username{
                padding: 1px 3px;
            }
            &_password{
                padding: 1px 3px;
            }
        }
        & #login_btn{
            margin-top: 2rem;
            background-color: #F11F1F;
        }
    }
    & #forget_password{
        display: inline-block;
        margin-top: 0.5rem;
        color: blue;
        font-size: 1rem;
    }
    & .errorlist{
        display: inline-block;
        background-color:#F8D7DA;
        border: 1px solid #F5C6CB;
        font-size: 1rem;
    }
}

@media(min-width:640px){
    #content{
        & form{
            & #login_btn{
                width: 12rem;
            }
        }
        & #forget_password{
            font-size: 1.2rem;
        }
        & .errorlist{
            font-size: 1.2rem;
        }
    }
}

@media(min-width:1024px){
    #content{
        & form{
            & label{
                margin-top: 3rem;
            }
            & #id{
                &_username{
                    width: 15%;
                }
                &_password{
                    width: 15%;
                }
            }
            & #login_btn{
                width: 15rem;
            }
        }
        & #forget_password{
            font-size: 1.4rem;
        }
        & .errorlist{
            font-size: 1.4rem;
        }
    }
}
