#content {
  position: relative;
  height: 100vh;
}

#content form {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#content form table {
  margin: 0 auto;
}

#content form table caption {
  padding: 1rem;
  font-weight: bold;
}

#content form table tbody tr {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

#content form table tbody tr td input {
  height: 100%;
  border: none;
}

#content form #login_post_btn {
  background-color: black;
}

@media (min-width: 600px) {
  #content form table caption {
    font-size: 2.6rem;
  }
  #content form table tbody tr {
    flex-direction: row;
  }
  #content form table tbody tr th {
    font-size: 1.5rem;
  }
  #content form table tbody tr td input {
    font-size: 1.5rem;
  }
}
