// <プロパティ 順番>
// 視覚整形->視覚効果->ボックスモデル->背景->画像->色->フォント、
// テキスト->マルチカラム->生成コンテンツ、リスト->ユーザーインターフェース->アニメーション->音声

// モバイルファースト
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    line-height: 1.5;
    // font-family: "Zapfino", "Segoe Script", "Arial", "ＭＳ 明朝", "MS Mincho", "ヒラギノ角ゴシック", "Hiragino Sans", "Zapfino", sans-serif;
}

html{
    font-size: 62.5%;
}
h2{
    font-size: 2.4rem;
}
p{
    font-size: 1.4rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
span{
    display: inline-block;
}
.btn {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-size: 1.4rem;
    border-radius: 5%;
    border-style: none;
    cursor: pointer;
}
#content {
    width: 90%;
    margin: 0 auto;
    margin-top: 6rem;
}


@media (min-width:600px){
    h2{
        font-size: 5rem;
    }
    p{
        font-size: 1.9rem;
    }
    .btn{
        font-size: 1.5rem;
    }
}

@media (min-width:1024px){
    h2{
        font-size: 7.4rem;
    }
    p{
        font-size: 2.5rem;
    }
    .btn{
        font-size: 2rem;
    }
}