#content{
    position: relative;
    height: 100vh;

    & form{
        width: 100%;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        & table{
            margin: 0 auto;

            & caption{
                padding: 1rem;
                font-weight: bold;
            }

            & tbody{
                & tr{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 2rem;
                    
                    & th{
                    }

                    & td{
                        & input{
                            height: 100%;
                            border: none;
                           
                        }
                    }
                }
            }
        }
        & #login_post_btn{
            background-color: black;
        }

    }
}

@media (min-width:600px){
    #content{
        & form{
            & table{
                & caption{
                    font-size: 2.6rem;
                }
                & tbody{
                    & tr{
                        flex-direction: row;

                        & th{
                            font-size: 1.5rem;
                        }

                        & td{
                            & input{
                                font-size: 1.5rem;
                               
                            }
                        }
                    }
                }
            }
    
        }
    }
}