{% load static %}

<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>タスク管理アプリ</title>
    {% block custom_css %}
    {% endblock  %}
</head>

<body>
    {% include '_navbar.html' %}

    {% block img_field %}
    {% endblock  %}

    <div id="content">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block container %}

        {% endblock %}
    </div>
</body>

</html>