{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/_navbar.css' %}"></link>
{% endblock %}

<header>
    <nav id="header_menu">
    {% if user.is_authenticated %}
        <a id="main_btn" class="btn" href="{% url 'main' %}">メインタスク</a>
        <a id="list_btn" class="btn" href="{% url 'list' %}">タスク管理</a>
        <a id="logout_btn" class="btn" href="{% url 'logout' %}">ログアウト</a>
    </nav>
    {% else %}
        <a href="{% url 'index' %}" id="main_title">タスマネ</a>
        <div id="login_signup_block">
            <a class="btn" id="signup_btn" href="{% url 'signup' %}">サインアップ</a>
            <a class="btn" id="login-btn" href="{% url 'login' %}">ログイン</a>
        </div>
    {% endif %}
</header>