{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/_navbar.css' %}"></link>
{% endblock %}

<header>
    <a href="/" id="main_title">タスマネ</a>

    {% if user.is_authenticated %}
    <nav id="header_menu">
        <a id="main_btn" class="btn" href="{% url 'main' %}">メインタスク</a>
        <a id="list_btn" class="btn" href="{% url 'list' %}">タスク管理</a>
        <a id="logout_btn" class="btn" href="{% url 'logout' %}">ログアウト</a>
    </nav>
        {% elif not "logout" in request.path %}
        <a class="btn" id="login-btn" href="{% url 'login' %}?next={% if '/' in request.path %}/task_list{% else %}{{ request.path }}{% endif %}">ログイン</a>
        {% endif %}
</header>