{% load static %}

<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>タスク管理アプリ</title>
    {% block custom_css %}
    {% endblock  %}
</head>

<body>
    <header>
        <h1 class="title">{% block title %}{% endblock %}</h1>
    </header>

    <div class="content">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block body %}

        {% endblock %}
    </div>
</body>

</html>