{% extends '_base.html' %}

{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock  %}

{% block img_field %}
    <div id="img_field">
        <h1 id="index_title">学生のための<span>タスク管理アプリ</span></h1>
    </div>
{% endblock %}

{% block container %}

    <div id="main_content">
        <h2 id="main_content_title">宿題を忘れない</h2>
        <ul id="questions">
            <li id="question1" class="question">「次に提出する宿題って何だっけ？」</li>
            <li id="question2" class="question">「何日、何時までに提出？」</li>
            <li id="question3" class="question">「そもそもあと宿題どれだけあった？」</li>
        </ul>
        <p>このように思う経験はありませんか？</p>
        <p><span class="marker">タスマネは全ての疑問を解決します。</span></p>
    </div>

    <ul id="index_main">
        <li class="main_block">
            <div class="main_block_content">
                <h3>集中力を消費させない</h3>
                <p>「宿題どれからやろうかな・・・」</p>
                <p id="first_feature" class="feature">
                    宿題が多いときによくありますよね。</br>
                    実は、人は迷っている時にも貴重な集中力を消費しています。</br>
                    タスマネでは、「メイン画面」に一番期限の近い宿題が表示されています。</br>
                    そのため, <span class="marker">無駄に迷うことなく、集中力を消費させることなく</spanc>、宿題に取りかかれます。</p>
            </div>
            <img src="../../static/img/main_task.png" alt="メイン画面">
        </li>
        <li class="main_block">
            <div class="main_block_content">
                <h3>宿題状況を一瞬で把握</h3>
                <p>「タスク管理画面」では、上から順番に期限が近い順でこれまでのタスクを表示してくれています。</br>
                タスクを作成すれば、すでに期限が近い順に並べられている為、<span class="marker">すぐに自分の宿題状況を把握することができます。</span>
                </p>
            </div>
            <img src="../../static/img/bush.png" alt="">
        </li>
        <li class="main_block">
            <div class="main_block_content">
                <h3>普段のタスクの管理にも使える</h3>
                <p><span class="marker">もちろん宿題管理以外にも使えます。</span></br>
                    本アプリの「タスクを作成すると期限が近い順に並べられる」という機能を活かして, 普通のタスク管理アプリとしても使うこともできます。</br>
                </p>
            </div>
            <img src="../../static/img/bush.png" alt="">
        </li>
    </ul>
{% endblock %}

{% block js %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}