{% extends '_base.html' %}

{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock  %}

{% block img_field %}
    <div id="img_field">
        <h1 id="index_title">「行動」に結びつける<span>タスク管理アプリ<span></span></h1>
    </div>
{% endblock  %}

{% block container %}

    <ul id="index_main">
        <li class="main_block">
            <div class="main_block_content">
                <h3>すぐに行動へ</h3>
                <p>メイン画面にはあなたが一番にやるべきことが表示されています。</br>
                   無駄に迷うことなく、すぐに行動へ移せます</p>
            </div>
            <img src="../../static/img/bush.png" alt="">
        </li>
        <li class="main_block">
            <div class="main_block_content">
                <h3>シンプルな操作</h3>
                <p>感覚的に分かりやすい設計にしています</p>
            </div>
            <img src="../../static/img/bush.png" alt="">
        </li>
        <li class="main_block">
            <div class="main_block_content">
                <h3>見やすいレイアウト</h3>
                <p>見にくいことなく、タスクを管理できます</p>
            </div>
            <img src="../../static/img/bush.png" alt="">
        </li>
    </ul>
{% endblock %}