{% extends 'base.html' %}

{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock  %}

{% block container %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <table>
        {{ form }}
    </table>
    {{ next }}

    <input type="hidden" name="next" value="{% if next == '/' %}task_list/{% else %}{{ next }}{% endif %}"></input>
    <button class="btn" type="submit">ログイン</button>

    </form>
{% endblock %}