{% extends '_base.html' %}

{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock  %}

{% block container %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

        <table>
            <caption>ログイン確認</caption>
            {{ form }}
        </table>
    {% if request.path == 'login' %}{% endif %}
    <input type="hidden" name="next" value="{{ next }}"></input>
    <button class="btn" type="submit">ログイン</button>

    </form>
{% endblock %}