#main_block {
  width: 90%;
  margin: 0 auto;
  margin-top: 15rem;
  text-align: center;
}

#main_block #title_limit_block {
  display: inline-block;
}

#main_block #title_limit_block #main_title {
  font-size: 4rem;
}

#main_block #title_limit_block #main_limit {
  font-size: 1.6rem;
  text-align: right;
}

#main_block #memo_btn_block {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

#main_block #memo_btn_block #main_memo {
  text-align: left;
  width: 60%;
  padding: 1rem;
  font-size: 1.6rem;
  border: dashed 1px black;
}

#main_block #memo_btn_block #main_btn_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

#main_block #memo_btn_block #main_btn_block .btn {
  width: 10rem;
}

#main_block #memo_btn_block #main_btn_block #delete_btn {
  background-color: red;
}

#main_block #memo_btn_block #main_btn_block #list_btn {
  background-color: black;
}

@media (min-width: 1024px) {
  #main_block {
    width: 100%;
  }
  #main_block #title_limit_block #main_title {
    font-size: 8rem;
  }
  #main_block #memo_btn_block {
    flex-direction: column;
  }
  #main_block #memo_btn_block #main_memo {
    width: 90%;
    margin: 2rem auto;
  }
  #main_block #memo_btn_block #main_btn_block {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
}
