#content #detail_block {
  width: 90%;
  margin: 0 auto;
  margin-top: 15rem;
  text-align: center;
}

#content #detail_block #title_limit_block {
  margin-bottom: 2rem;
}

#content #detail_block #title_limit_block #detail_limit {
  text-align: right;
}

#content #detail_block_memo {
  width: 90%;
  padding: 1rem;
  margin: 2rem auto;
  border: dashed 1px black;
  text-align: left;
  white-space: pre-wrap;
}

#content #btn_block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content #btn_block .btn {
  width: 10rem;
}

#content #btn_block #back_btn {
  background-color: black;
}

#content #btn_block #edit_btn {
  background-color: green;
}

#content #btn_block #delete_btn {
  background-color: red;
}

@media (min-width: 640px) {
  #content #detail_block #title_limit_block {
    margin-bottom: 10rem;
  }
  #content #btn_block .btn {
    width: 12rem;
  }
}

@media (min-width: 1024px) {
  #content #detail_block {
    width: 80%;
  }
  #content #btn_block .btn {
    width: 15rem;
  }
}
