#content {
  text-align: center;
}

#content #confirm_delete {
  margin-top: 15rem;
}

#content #btn_block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content #btn_block .btn {
  width: 10rem;
}

#content #btn_block #submit_btn {
  background-color: red;
}

#content #btn_block #back_btn {
  background-color: black;
}

@media (min-width: 640px) {
  #content #confirm_delete {
    margin-top: 25rem;
  }
  #content #btn_block .btn {
    width: 12rem;
  }
}

@media (min-width: 1024px) {
  #content #btn_block .btn {
    width: 15rem;
  }
}
