#main_block {
  width: 90%;
  margin: 0 auto;
  margin-top: 15rem;
  text-align: center;
}

#main_block #title_limit_block {
  margin-bottom: 2rem;
}

#main_block #title_limit_block #main_title {
  width: 100%;
}

#main_block #title_limit_block #main_limit {
  text-align: right;
}

#main_block #main_memo {
  width: 90%;
  padding: 1rem;
  margin: 2rem auto;
  border: dashed 1px black;
  text-align: left;
  white-space: pre-wrap;
}

#main_block #main_btn_block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main_block #main_btn_block .btn {
  width: 10rem;
}

#main_block #main_btn_block #delete_btn {
  background-color: red;
}

#main_block #main_btn_block #list_btn {
  background-color: black;
}

@media (min-width: 640px) {
  #main_block #title_limit_block {
    margin-bottom: 10rem;
  }
  #main_block #main_btn_block {
    width: 60%;
  }
  #main_block #main_btn_block .btn {
    width: 12rem;
  }
}

@media (min-width: 1024px) {
  #main_block {
    width: 80%;
  }
  #main_block #main_btn_block .btn {
    width: 15rem;
  }
}
